@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
  --clr-primary--100: hsl(212, 86%, 64%);
  --clr-primary--300: hsl(180, 62%, 55%);
  --clr-primary--500: hsl(34, 97%, 64%);
  --clr-primary--900: hsl(0, 78%, 62%);
  --clr-neutral--100: hsl(0, 0%, 98%);
  --clr-neutral--300: hsl(229, 6%, 66%);
  --clr-neutral--500: hsl(234, 12%, 34%);
  --fs: 0.9375rem;
  --ff-primary: 'Poppins', sans-serif;
  --br: 0.35em;
}

/*------ Global Settings------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  font-family: var(--ff-primary);
}

/* ----- Body ----- */

body {
  font-family: var(--ff-primary);
  font-size: var(--fs);
  display: flex;
  flex-direction: column;
  color: var(--clr-neutral--300);
  background-color: var(--clr-neutral--100);
  font-weight: 200;
}